<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />

        <title>{% if title %} {{ title }} | {% endif %} Footshop</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li
                        class="nav-item {{ type == 'product' ? 'active' : '' }}"
                    >
                        <a class="nav-link" href="/">
                            Products <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item {{ type == 'stats' ? 'active' : '' }}">
                        <a class="nav-link" href="/?type=stats">Stats</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
